body {
  margin: 0;
  padding: 0;
}
.app {
  height: 100vh;
  background-color: rgba(74, 211, 214, 0.587);
}
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* position: fixed; */
  width: 100%;
  height: 23vh;
  background-color: rgba(232, 181, 71, 0.744);
}
.photo {
  margin-top: 4vh;
  width: 28%;
  height: 15vh;
  margin-right: 0%;
  height: 15vh;
  background-image: url("./photo/photo.jpg");
  background-size: contain;
  background-position: contain;
}
.head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* position: fixed; */
  margin-left: 5%;
  width: 80%;
  height: 15vh;
  background-color: rgba(74, 211, 214, 0.587);
  justify-items: center;
  align-items: center;
  margin-top: 4vh;
  border-radius: 10px;
}

.name,
.occupation {
  height: 9vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  color: rgba(250, 56, 2, 0.701);
}
.occupation {
  font-size: 4vh;
  color: rgb(50, 31, 2);
}
.mid {
  display: flex;
  width: 100%;
  margin-top: 10vh;
}
.midd {
  margin: 0 4%;
  width: 26%;
  height: 60vh;
  border: 2px black solid;
  border-radius: 30px;
  padding: 3vh 2%;
  font-size: 3vh;
}
.info {
  background-color: white;
}
.about-title,
.info-title,
.other-title {
  color: black;
  font-size: 4vh;
}
.other-text {
  font-size: 3vh;
}
.info-title {
  height: 5vh;
}
.linkedin,
.github {
  margin-top: 3vh;
  width: 100%;
  height: 5vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.logo,
.link {
  align-items: center;
  display: flex;
  justify-content: center;
}
.link {
  justify-content: flex-start;
  padding-left: 5%;
}
.langs {
  display: flex;
  margin-left: -5%;
}
.pwp,
.pwpN {
  list-style-type: none;
}
.pwp {
  font-size: 2vh;
}
